@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;700&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

#container {
    height: 85vh;
    width: 100vw;
    background-color: aquamarine;
}

header {
    background-color: orange;
    height: 15vh;
    padding: 2.5vmax 15vmax 2.5vmax 15vmax;
}

#menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pedidos {
    background-color: orange;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5vmax;
}

#parametros {
    background-color: orange;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5vmax;
}

#pedidos:hover {
    cursor: pointer;
}

#parametros:hover {
    cursor: pointer;
}

#filters {
    width: 20vw;
    height: 85vh;
    background-color: white;
}

#status-page {
    background-color: white;
    font-weight: bold;
    border: 0;
}

#status-page:hover {
    cursor: pointer;
}

@media screen and (max-width: 720px) {

    header {
        padding-top: 5vmax;
    }

    #pedidos {
        background-color: orange;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 2vmax;
    }
    
    #parametros {
        background-color: orange;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 2vmax;
    }
}

@media screen and (max-width: 430px) {

    header {
        padding-left: 5vmax;
        padding-right: 5vmax;
    }

    #filters {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    header {
        padding-left: 5vmax;
        padding-right: 5vmax;
    }
}