@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;700&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

#container {
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: orange;
    height: 15vh;
    padding: 2.5vmax 5vmax 2.5vmax 5vmax;
}

#arrow-back {
    width: 2vmax;
    height: 2vmax;
}

#btn-back {
    background-color: orange;
    border: 0;
}

#arrow-back:hover {
    cursor: pointer;
}

#setting-status {
    border: 1px solid black;
    width: 65vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2vmax;
}

#row-status {
    margin: 0 auto;
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    padding: 2vmax;
}

#arrow-up {
    font-size: 1.7vmax;
}

button[id^="drop-up"] {
    background-color: white;
    border: 0;
}

#arrow-down {
    font-size: 1.7vmax;
}

button[id^="drop-down"] {
    background-color: white;
    border: 0;
}

button[id^="drop-down"]:hover{
    cursor: pointer;
}

button[id^="drop-up"]:hover{
    cursor: pointer;
}