<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/settings/status.css">
    <title>PlusPedidos</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="btn-back">
                <img src="../../assets/seta-esquerda.png" alt="return" id="arrow-back">
            </button>
        </div>
    </header>

    <div id="alert">
        <div id="alert-content">
            <h3>Dados atualizados com sucesso</h3>
        </div>
    </div>
    
    <div id="container">
        <div id="input-status">
            <input type="text" id="input-novo-status" placeholder="Digite o nome do status">
            <button id="btn-post-status">Cadastrar</button>
        </div>
        <div id="setting-status">

        </div>
        <div id="btn-submit">
            <button id="btn-update-status">
                Finalizar alterações
            </button>
        </div>
    </div>
    
</body>
<script type= "text/javascript" src="../../dist/status.bundle.js"></script>
</html>