<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/settings/status.css">
    <title>PlusPedidos</title>
</head>
<body>
    <header>
        <div id="menu">
            <button id="btn-back">
                <img src="../../assets/seta-esquerda.png" alt="return" id="arrow-back">
            </button>
        </div>
    </header>
    <div id="container">
        <div id="setting-status">
            
        </div>
    </div>
</body>
</html>